<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">ویرایش پروفایل کاربری</h4>
                        <p class="card-category">مشخصات خود را کامل کنید</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">تلفن همراه</label>
                                        <input type="text" class="form-control" value="<%= user.phone %>" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">ایمیل</label>
                                        <input type="email" class="form-control" value="<%= user.email %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">نام و نام خانوادگی</label>
                                        <input type="text" class="form-control" value="<%= user.fullName %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">جنسیت</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="sexRadioOptions" id="inlineRadio1" value="man" />
                                            <label class="form-check-label" for="inlineRadio1">مرد</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="sexRadioOptions" id="inlineRadio2" value="woman" />
                                            <label class="form-check-label" for="inlineRadio2">زن</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">بروزرسانی پروفایل</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:;">
                            <img class="img" src="<%= user.profile %>" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title"><%= user.fullName %></h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love
                            Rick Owens’ bed design but the back is...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
